version: '3.8'
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: your-dockerhub-username/backend-app:latest
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/dd_db

  frontend:
    image: your-dockerhub-username/frontend-app:latest
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data: